.image-container {
    text-align: center;
    display: inline-block;
    text-align: center;
  }

  img {
    border-radius: 10%;
    width: 60%; /* Ajusta el tamaño de acuerdo a tus necesidades */
  }
